*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}

.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

/* ----- card component ----- */
.card {
  background-color: white;
  margin: 20px;
  width: 320px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card-header {
  height: 130px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-body h3 {
  margin: 10px;
}

.card-body p {
  margin: 0 10px 20px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 50px;
}

.card-footer-link {
  display: flex;
  align-items: center;
}

.card-link {
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  color: #0072e5;
  border: 0.5px #0072e5 solid;
  border-radius: 5px;
}

.card-footer img {
  height: 40px;
}

/* ----- detail ----- */

.detail {
  background-color: white;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.detail-header {
  background-size: contain;

  height: 35rem;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.detail-body {
  margin: 1rem;
}

.detail-body h3 {
  margin-bottom: 1rem;
}

.detail-pegi {
  width: auto;
  height: 25%;
  position: relative;
  top: 75%;
  left: calc(100% - 115px);
}

/* ----- footer ----- */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  min-height: 200px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #333;
  color: #f1f1f1f1;
}

.footer-sub-part {
  max-width: 25%;
  /* height: 200px; */
}

.footer-router {
  display: flex;
  margin-right: 2rem;
}

.footer-router-link {
  text-decoration: none;
  color: #f1f1f1f1;
}

.logo-social-media {
  margin: 0.7rem;
  width: 2rem;
  height: 2rem;
}

/* ----- SignUp Form ----- */

.signup {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
  width: 40rem;
}
